@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Newtonsoft.Json;
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager


<h1>Dashboard</h1>
<button class="btn btn-primary" @onclick="BeginSignOut">Log out</button>

<p>This component demonstrates fetching data from the server.</p>

@if (Tickers == null)
{
    <p><em>Loading...</em></p>
}
else
{
   <P>content</P>
   <table class="table">
       @foreach(var s in Tickers)
       {
       <tr>
           <td>@s.Name</td
           
       </tr>
       
       }


   </table>
}

@code {
    private List<TickerData> Tickers;
    public List<Student> Students{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var HttpClient = new HttpClient();
            var result = await HttpClient.GetAsync("https://localhost:44328/api/ticker");
            var data = await result.Content.ReadAsStringAsync();

           Tickers=JsonConvert.DeserializeObject<List<TickerData>>(data);
          
            
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
     private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/login");
    }


}
