body {
}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    background-color: rgb(161, 252, 255);
    color:rgb(39, 169, 211);
    
}

h1 {
    color: rgb(39, 169, 211);
}